@font-face {
  font-family: "icon-font";
  src:url("fonts/icon-font.eot");
  src:url("fonts/icon-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/icon-font.woff") format("woff"),
    url("fonts/icon-font.ttf") format("truetype"),
    url("fonts/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-open-big:before {
  content: "\63";
}
.icon-search:before {
  content: "\64";
}
.icon-right-open-big:before {
  content: "\61";
}
.icon-left-open-big:before {
  content: "\62";
}
.icon-calendar:before {
  content: "\65";
}
.icon-map-marker:before {
  content: "\66";
}
.icon-email:before {
  content: "\69";
}
.icon-news:before {
  content: "\6a";
}
.icon-building:before {
  content: "\6b";
}
.icon-gift:before {
  content: "\67";
}
.icon-user:before {
  content: "\68";
}
.icon-twitter:before {
  content: "\6f";
}
.icon-instagram:before {
  content: "\70";
}
.icon-facebook:before {
  content: "\6d";
}
.icon-google-plus:before {
  content: "\72";
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/**
 * Micro Clearfix
 * Source: http://nicolasgallagher.com/micro-clearfix-hack/
 **/

.clearfix:before,
.clearfix:after,
.gs:before,
.gs:after {
    content: " ";
    display: table;
}

.clearfix:after,
.gs:after {
    clear: both;
}

.clearfix,
.gs {
    *zoom: 1;
}

/**
 *
 * Grid System Generated With Javascript, see commented out code in script.js
 *
 **/

.gs {
	margin-left: -20px;
	margin-right: -20px;
}

.gs-col {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.gs1 {
		width: 8.33333%
	}

.gs1-before {
		margin-left: 8.33333%
	}

.gs1-after {
		margin-right: 8.33333%
	}

.gs2 {
		width: 16.66667%
	}

.gs2-before {
		margin-left: 16.66667%
	}

.gs2-after {
		margin-right: 16.66667%
	}

.gs3 {
		width: 25%
	}

.gs3-before {
		margin-left: 25%
	}

.gs3-after {
		margin-right: 25%
	}

.gs4 {
		width: 33.33333%
	}

.gs4-before {
		margin-left: 33.33333%
	}

.gs4-after {
		margin-right: 33.33333%
	}

.gs5 {
		width: 41.66667%
	}

.gs5-before {
		margin-left: 41.66667%
	}

.gs5-after {
		margin-right: 41.66667%
	}

.gs6 {
		width: 50%
	}

.gs6-before {
		margin-left: 50%
	}

.gs6-after {
		margin-right: 50%
	}

.gs7 {
		width: 58.33333%
	}

.gs7-before {
		margin-left: 58.33333%
	}

.gs7-after {
		margin-right: 58.33333%
	}

.gs8 {
		width: 66.66667%
	}

.gs8-before {
		margin-left: 66.66667%
	}

.gs8-after {
		margin-right: 66.66667%
	}

.gs9 {
		width: 75%
	}

.gs9-before {
		margin-left: 75%
	}

.gs9-after {
		margin-right: 75%
	}

.gs10 {
		width: 83.33333%
	}

.gs10-before {
		margin-left: 83.33333%
	}

.gs10-after {
		margin-right: 83.33333%
	}

.gs11 {
		width: 91.66667%
	}

.gs11-before {
		margin-left: 91.66667%
	}

.gs11-after {
		margin-right: 91.66667%
	}

.gs12 {
		width: 100%
	}

.gs12-before {
		margin-left: 100%
	}

.gs12-after {
		margin-right: 100%
	}

@media screen and (min-width: 480px) {

	.gs-small6 {
		width: 50%
	}

	.gs-small6-before {
		margin-left: 50%
	}

	.gs-small6-after {
		margin-right: 50%
	}

}

@media screen and (min-width: 768px) {

	.gs-medium3 {
		width: 25%
	}

	.gs-medium3-before {
		margin-left: 25%
	}

	.gs-medium3-after {
		margin-right: 25%
	}

	.gs-medium4 {
		width: 33.33333%
	}

	.gs-medium4-before {
		margin-left: 33.33333%
	}

	.gs-medium4-after {
		margin-right: 33.33333%
	}

	.gs-medium6 {
		width: 50%
	}

	.gs-medium6-before {
		margin-left: 50%
	}

	.gs-medium6-after {
		margin-right: 50%
	}

	.gs-medium12 {
		width: 100%
	}

	.gs-medium12-before {
		margin-left: 100%
	}

	.gs-medium12-after {
		margin-right: 100%
	}

}

@media screen and (min-width: 992px) {

	.gs-large2 {
		width: 16.66667%
	}

	.gs-large2-before {
		margin-left: 16.66667%
	}

	.gs-large2-after {
		margin-right: 16.66667%
	}

	.gs-large4 {
		width: 33.33333%
	}

	.gs-large4-before {
		margin-left: 33.33333%
	}

	.gs-large4-after {
		margin-right: 33.33333%
	}

	.gs-large5 {
		width: 41.66667%
	}

	.gs-large5-before {
		margin-left: 41.66667%
	}

	.gs-large5-after {
		margin-right: 41.66667%
	}

	.gs-large6 {
		width: 50%
	}

	.gs-large6-before {
		margin-left: 50%
	}

	.gs-large6-after {
		margin-right: 50%
	}

	.gs-large8 {
		width: 66.66667%
	}

	.gs-large8-before {
		margin-left: 66.66667%
	}

	.gs-large8-after {
		margin-right: 66.66667%
	}

}

@media screen and (min-width: 1200px) {

	.gs-xlarge2 {
		width: 16.66667%
	}

	.gs-xlarge2-before {
		margin-left: 16.66667%
	}

	.gs-xlarge2-after {
		margin-right: 16.66667%
	}

	.gs-xlarge3 {
		width: 25%
	}

	.gs-xlarge3-before {
		margin-left: 25%
	}

	.gs-xlarge3-after {
		margin-right: 25%
	}

	.gs-xlarge4 {
		width: 33.33333%
	}

	.gs-xlarge4-before {
		margin-left: 33.33333%
	}

	.gs-xlarge4-after {
		margin-right: 33.33333%
	}

	.gs-xlarge5 {
		width: 41.66667%
	}

	.gs-xlarge5-before {
		margin-left: 41.66667%
	}

	.gs-xlarge5-after {
		margin-right: 41.66667%
	}

}

.fullWidth,
.fullWidth-top,
.fullWidth-cover {
	margin-left: -20px;
	margin-right: -20px;
}

.fullWidth-top {
	margin-top: -20px;
}

.fullWidth-top > img {
	border-radius: 3px 3px 0 0;
}

.fullWidth-cover {
	margin-top: -20px;
	margin-bottom: -20px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #f4f4f4;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.card {
	background: #fff;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0px 8px 15px -6px rgba(0, 0, 0, 0.1);
}

.card img {
	max-width: 100%;
}

.cardBannerImage {
	border-radius: 3px 3px 0 0;
}

.cardBannerImage-cover {
	border-radius: 3px;
}

/**
 * Forms
 */

.form fieldset {
	border: none;
	padding: 0;
	margin: 15px 0;
}

.form-error {
	color: #EF6461;
	margin: 0
}

.form-mainLabel {
	width: 33.333%;
	border: 2px solid #e5e5e5;
	border-left: none;
	padding: 5px 15px;
	display: inline-block;
	color: grey;
	line-height: 1.6em;
	font-size: 1em;
	text-transform: uppercase;
	vertical-align: top;
}


.form input[type=text],
.form input[type=password],
.form input[type=file] {
	padding: 5px;
	line-height: 1.6em;
	font-size: 1em;
	border: 2px solid #e5e5e5;
	border-right: 1px solid #eaeaea;
	width: 66.6666%;
	display: inline-block;
}

.form input[type=text]:focus,
.form input[type=password]:focus ,
.form input[type=file]:focus {
	outline: none;
	border: 2px solid #2266BF;
	border-right: 1px solid #2266BF;
}


.form input[type=submit] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form-boxedInput {
	display: inline-block;
	border: 2px solid #e5e5e5;
	border-right: 1px solid #eaeaea;
	width: 66.6666%;
	padding: 5px 10px;
	line-height: 1.6em;
}

input[type=text]:focus + .form-mainLabel,
input[type=password]:focus + .form-mainLabel,
input[type=file]:focus + .form-mainLabel,
textarea:focus + .form-mainLabel {
	border: 2px solid #2266BF;
	border-left: none;
	color: #2266BF;
}

.form textarea {
	width: 100%;
	display: inline-block;
	min-height: 150px;
	border: 2px solid #e5e5e5;
	padding: 5px;
	font-size: 1em;
}

.form textarea::-webkit-input-placeholder {
	color: grey;
}

.form textarea:focus::-webkit-input-placeholder {
	color: #2266BF;
}

.form textarea:focus {
	outline: none;
	border: 2px solid #2266BF;
}

/**
 * Table
 */

.table {
	width: 100%;
	border-collapse: collapse;
}

.table th {
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid #2266BF;
	padding: 10px 0
}

.table tbody td {
	border-bottom: 2px solid #e5e5e5;
	padding: 10px 0
}

/**
 * Buttons
 */

button {
	cursor: pointer;
}

.btn {
	border: none;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
}

.btn:focus {
	outline: none;
}

.btn-primary {
	background: #2266BF;
	color: #fff;
}

.btn-primary:hover {
	background: #1B5299;
}

.btn-secondary {
	background: #BBC7CE;
	color: #fff;
}

.btn-secondary:hover {
	background: #aebdc5;
}

.btn-large {
	padding: 15px 30px;
	font-size: 1em;
	font-weight: bold;
}

.btn-medium {
	padding: 10px 20px;
	font-size: 1em;
	font-weight: bold;
}

.btn-small {
	padding: 5px 10px;
	font-size: 0.9em;
}

.btn-fullWidth {
	display: block;
	width: 100%;
	margin: 5px 0;
}

/**
 * Lists
 */

.list-reset {
	margin: 0;
	padding: 0
}

.list-reset li {
	list-style: none;
}

.flashMessage,
.flashError {
	text-align: center;
	padding: 8px;
}

.flashMessage {
		background: #84DCC6;
}

.flashError {
	background: #EF6461;
	color: #fff;
}

.flashMessage h4,
.flashError h4 {
	display: inline-block;
	margin: 0;
}

header {
	margin-bottom: 40px;
}

.header-topBar {
	background: #13142d;
	padding: 10px 20px;
	box-shadow: inset 0 -1px 5px 1px rgba(0, 0, 0, 0.5);
}

.header-topBar-logo {
	text-decoration: none;
}

.header-topBar-logo h1 {
	font-family: 'Nunito', sans-serif;
	display: inline;
	color: #fff;
	margin: 0;
	vertical-align: middle;
	line-height: 1.2em;
	margin-right: 20px;
}

.header-topBar form {
	display: inline;
}

.header-topBar label {
	color: #fff;
	margin: 0 10px 0 20px;
}

.header-topBar input[type="text"] {
	border: none;
	vertical-align: middle;
	font-size: 1em;
	padding: 10px 30px 10px 10px;
	color: #13142D
}

.header-topBar input[type="text"]::-webkit-input-placeholder {
	color: #13142D;
}

.header-topBar input[type="text"]:focus {
	outline: none;
}

.header-topBar input[type="text"]:focus::-webkit-input-placeholder {
	color: #13142D;
}

.header-topBar .searchInput {
	width: 400px;
}

.header-topBar .btn {
	margin-left: 20px;
	vertical-align: middle;
}

.headerNavBar {
	background: #f4f4f4;
	-webkit-box-shadow: inset hoff voff blur color;
	box-shadow: 0px 1px 3px 3px rgba(0,0,0,0.1);
	position: relative;
	z-index: 1;
}

/**
 * Main Menu Bar
 */

.headerNavBar nav {
	display: inline-block;
}

.headerNavBar nav a {
	display: inline-block;
	padding: 16px 5px;
	text-decoration: none;
	color: #303030;
	border-bottom: 3px solid transparent;
	margin-right: 10px;
	cursor: pointer;
	line-height: 1.2em
}

.headerNavBar nav a span {
	margin-right: 10px;
}

.headerNavBar nav a:hover {
	border-bottom: 3px solid #2266BF;
	color: #2266BF;
}

.headerNavBar-account {
	float: right;
	position: relative;
}

/* Login and register button */
.headerNavBar-account > a button {
	margin-top: 8px;
}

.headerNavBar-account > button {
	display: inline-block;
	padding: 6px 5px;
	background: none;
	border: none;
	font-size: 1em;
	line-height: 1.2em;
	border-bottom: 3px solid transparent;
}

.headerNavBar-account > button:focus {
	outline: none;
}

.headerNavBar-account > button span {
	margin-left: 10px;
}

.headerNavBar-account > button .icon-user {
	background: #694D75;
	color: #fff;
	border-radius: 50%;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	vertical-align: middle;
}

.headerNavBar-account-dropdown {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 300px;
	background: #fff;
	border: 1px solid #694D75;
	border-top: 5px solid #694D75;
	margin-top: 10px;
	z-index: 1;
}

.headerNavBar-account-dropdown::before {
	content: "";
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 10px;
	background: transparent;
}

.headerNavBar-account-dropdown::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;  /* left arrow slant */
	border-right: 10px solid transparent; /* right arrow slant */
	border-bottom: 10px solid #694D75; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	top: -15px;
	right: 10px;
}

.headerNavBar-account-dropdown a {
	text-decoration: none;
}

.headerNavBar-account-dropdown input[type=submit] {
	border: none;
	background: none;
	font-size: 1em;
	cursor: pointer;
	width: 100%;
	text-align: left;
}

.headerNavBar-account-dropdown input[type=submit]:focus {
	outline: none;
}

.headerNavBar-account-dropdown a,
.headerNavBar-account-dropdown input[type=submit] {
	color: #303030;
	padding: 10px;
	display: block;
}

.headerNavBar-account-dropdown a:hover,
 .headerNavBar-account-dropdown input[type=submit]:hover {
	background: #f4f4f4;
}

.headerNavBar-account:hover > button {
	color: #694D75;
}

.headerNavBar-account:hover .headerNavBar-account-dropdown {
	display: block;
}

/**
 * footer
 */

footer {
	min-height: 200px;
	margin-top: 100px;
}

.footer-social a {
	color: #694D75;
	text-decoration: none;
}

.footer-social a span {
	font-size: 2em;
	vertical-align: middle;
}

.footer-social a:hover {
	color: #50345C;
}

.footer-disclaimer {
	text-align: center;
}



.footer-highlighted {
	background: #B9D6F2;
	min-height: 150px;
	margin: 20px 0;
}

.inputWrapper {
	display: inline-block;
	position: relative;
	background: #fff;
	border-radius: 3px;
}

.inputWrapper:after {
	font-family: "icon-font";
	position: absolute;
	top: 12px;
	right: 10px;
	color: #ccc;
}

.searchInput {
	padding-right: 20px;
	background: transparent;
	position: relative;
	z-index: 1;
}

.dateInput {
	background: transparent;
}

.searchWrapper:after {
	content: "\64";
}
.selectWrapper:after {
	content: "\63";
}

.dateWrapper:after {
	content: "\65";
}

.header-topBar select {
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	font-size: 1em;
	color: #13142D;
	border-radius: 2px;
	padding: 10px 30px 10px 10px;
	position: relative;
	z-index: 1;
}

.header-topBar select:focus {
	outline: none;
}

.form-datepicker {
	position: relative;
}

.datePicker-container {
	display: inline-block;
	position: relative;
}

.datePicker-dropdown {
	position: absolute;
	width: 300px;
	background: #fff;
	border: 1px solid #1B5299;
	display: none;
	z-index: 1;
}

.datePicker-dropdown-bottomRight {
	top: 100%;
	margin-top: 10px;
	right: 0;
}

.datePicker-dropdown-bottomLeft {
	top: 100%;
	margin-top: 10px;
	left: 0;
}

.datePicker-dropdown:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;  /* left arrow slant */
	border-right: 10px solid transparent; /* right arrow slant */
	border-bottom: 10px solid #1B5299; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: -10px;
	right: 10px;
}

.datePicker-dropdown-focus {
	display: block;
}

.datePicker thead tr:first-child th {
	background: #1B5299;
	color: #fff;
	padding-top: 15px;
}

.datePicker-btn {
	position: absolute;
	top: 12px;
	border-radius: 0;
	padding: 5px;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.datePicker-btn:focus {
	outline: none;
}

.datePicker-btn-prev {
	left: 16px;
}

.datePicker-btn-next {
	right: 16px;
}

.cal {
	width: 100%;
}

.cal table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.cal th {
	padding-bottom: 15px
}

.cal th, td {
	text-align: center;
}

.cal-days th {
	color: #555562;
	font-size: 0.9em;
}

.cal td {
	height: 50px;
	position: relative;
	font-size: 0.9em;
}

.cal-prevMonth,
.cal-nextMonth,
.cal-disabled {
	color: #e1e1e1
}

.cal button {
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border: 3px solid #fff;
	background: none;
	outline: none;
	font-size: 1em;
}

.cal-currentMonth:hover button {
	background: #f4f4f4;
	border: 3px solid #f4f4f4;
}
.cal-today button {
	border: 3px solid #f4f4f4;
}

.cal-withinDateRange button {
	border: none;
	background: #f4f4f4;
	border-radius: 0;
}

.cal-dateRangeStart button,
.cal-dateRangeEnd button {
	background: #5F3262;
	border: 3px solid #5F3262;
	color: #fff;
}

.cal-dateRangeStart:hover button,
.cal-dateRangeEnd:hover button {
	background: #512b54;
	border: 3px solid #512b54;
}

.cal-dateRangeStart button {
	border-radius: 50% 0 0 50%;
}

.cal-dateRangeEnd button {
	border-radius: 0 50% 50% 0;
}

@media screen and (max-width: 1020px) {
	.cal td {
		height: 80px;
	}
}

@media screen and (max-width: 768px) {
	.cal td {
		height: 51px;
	}
}

@media screen and (max-width: 480px) {
	.cal td {
		height: 37px;
	}
}

/* Home Page */

.home-banner {
	margin-top: -40px;
}

.home-card,
.home-banner {
	margin-bottom: 40px;
}

/* Venue Single Page */

.venues-single {
	margin-bottom: 40px;
}

.venues-single a {
	text-decoration: none;
}

.venues-single h3,
.venues-single p {
	color: #000;
	text-decoration: none;
}

.venues-single p {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.venues-single .card {
	transition: all 0.3s;
}

.venues-single:hover .card {
	box-shadow: 0px 8px 15px -1px rgba(0, 0, 0, 0.1);
}

.venueSingle-map {
	width: 100%;
	padding-bottom: 50%;
	margin-top: 20px;
}

.venueSingle-image img {
		width: 100%;
		margin-bottom: 20px;
}

/* Locations Page */

.locations-mapContainer {
	position: relative;
}

.locations-map-venue {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 300px;
	padding: 10px;
	background: #fff;
	z-index: 1;
	max-height: 600px;
	opacity: 0;
	transition: all 0.5s;
}

.locations-map-venue-visible {
	opacity: 1;
}


.locations-map-venue h3 {
	margin-top: 0;
}

.locations-map-venue img {
	max-width: 100%;
}

.locations-map {
	width: 100%;
	padding-bottom: 50%;
}

.locations-list-single {
	padding: 10px 20px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.locations-list-single:hover {
	background: #eaeaea;
	cursor: pointer;
}

.locations-list-single h3 {
	margin: 0;
}
